language: php

cache:
  directories:
    - .phpunit
    - $HOME/.composer/cache/files

php:
  - 7.1
  - 7.2
  - 7.3

matrix:
  fast_finish: true
  include:
    - php: 7.1
      env: DEPENDENCY="symfony/lts:^2"
    - php: 7.1
      env: DEPENDENCY="symfony/lts:^3"

before_install:
  - composer selfupdate
  - if [ "$DEPENDENCY" != "" ]; then composer require "${DEPENDENCY}" --dev --no-update; fi;

install:
  - composer update --prefer-source --no-interaction

script: composer run-script test
