name: tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # symfony 7
          - php: 8.4
          - php: 8.3
          - php: 8.2
          # symfony 6
          - php: 8.3
            composer-dependencies: symfony/symfony:^6
          - php: 8.2
            composer-dependencies: symfony/symfony:^6
          - php: 8.1
            composer-dependencies: symfony/symfony:^6
          # symfony 5
          - php: 8.3
            composer-dependencies: symfony/symfony:^5
          - php: 8.2
            composer-dependencies: symfony/symfony:^5
          - php: 8.1
            composer-dependencies: symfony/symfony:^5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          tools: composer:v2

      - name: Determine composer cache directory
        id: composer-cache
        run: echo "::set-output name=directory::$(composer config cache-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.directory }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-${{ matrix.php }}-composer-

      - name: Require additional dependencies
        run: composer require ${{ matrix.composer-dependencies }} --dev --no-update
        if: ${{ matrix.composer-dependencies }}

      - name: Install dependencies
        run: |
          echo "::group::composer update"
          composer update --no-progress --no-suggest --ansi --prefer-dist
          echo "::endgroup::"

      - name: Run tests
        run: composer run-script test
